**Random Forest Classification**

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('C:/Users/Samsung/Desktop/3.sınıf bahar dönemi/Introduction Machine Learning/data.csv')

In [4]:
data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [5]:
data.drop(["Unnamed: 32","id"],axis=1, inplace=True)

In [6]:
data.tail()

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
564,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [7]:
data.diagnosis = [1 if each=="M" else 0 for each in data.diagnosis] 
y = data.diagnosis.values

In [8]:
x_data=data.drop(["diagnosis"],axis=1)

In [9]:
x=(x_data - np.min(x_data))/(np.max(x_data)-np.min(x_data))

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test , y_train, y_test = train_test_split(x,y,test_size=0.15,random_state=42)

In [11]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(x_train,y_train)
print("decision score :",dt.score(x_test,y_test))

decision score : 0.9069767441860465

In [12]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=100,random_state=1)
rf.fit(x_train,y_train)
print("random forest score :",rf.score(x_test,y_test))

random forest score : 0.9534883720930233

**RandomForest on car evulation**

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
data =('C:/Users/Samsung/Desktop/3.sınıf bahar dönemi/Introduction Machine Learning/car_evaluation.csv')
df = pd.read_csv(data,header=None)

In [16]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [17]:
col_names=["buying","maint","door","persons","lug_boot","safety","class"]
df.columns=col_names
col_names

['buying', 'maint', 'door', 'persons', 'lug_boot', 'safety', 'class']

In [18]:
df.head()

  buying  maint door persons lug_boot safety  class
0  vhigh  vhigh    2       2    small    low  unacc
1  vhigh  vhigh    2       2    small    med  unacc
2  vhigh  vhigh    2       2    small   high  unacc
3  vhigh  vhigh    2       2      med    low  unacc
4  vhigh  vhigh    2       2      med    med  unacc

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   door      1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [20]:
for col in col_names:
    print(df[col].value_counts())

vhigh    432
high     432
low      432
med      432
Name: buying, dtype: int64
vhigh    432
high     432
low      432
med      432
Name: maint, dtype: int64
3        432
4        432
2        432
5more    432
Name: door, dtype: int64
4       576
2       576
more    576
Name: persons, dtype: int64
small    576
big      576
med      576
Name: lug_boot, dtype: int64
high    576
low     576
med     576
Name: safety, dtype: int64
unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [21]:
df["class"].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [22]:
df.isnull().sum()

buying      0
maint       0
door        0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [23]:
x=df.drop(["class"],axis=1)
y=df["class"]

In [24]:
from sklearn.model_selection import train_test_split
x_train, x_test , y_train, y_test = train_test_split(x,y,test_size=0.33,random_state=42)

In [25]:
x_train.shape,x_test.shape

((1157, 6), (571, 6))

In [26]:
x_train.dtypes

buying      object
maint       object
door        object
persons     object
lug_boot    object
safety      object
dtype: object

In [27]:
x_train.head()

     buying  maint   door persons lug_boot safety
48    vhigh  vhigh      3    more      med    low
468    high  vhigh      3       4    small    low
155   vhigh   high      3    more    small   high
1721    low    low  5more    more    small   high
1208    med    low      2    more    small   high

In [28]:
!pip install --upgrade category_encoders

Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
Requirement already satisfied, skipping upgrade: scipy>=1.0.0 in c:\anaconda3\lib\site-packages (from category_encoders) (1.5.2)
Requirement already satisfied, skipping upgrade: numpy>=1.14.0 in c:\anaconda3\lib\site-packages (from category_encoders) (1.19.2)
Requirement already satisfied, skipping upgrade: patsy>=0.5.1 in c:\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.0 in c:\anaconda3\lib\site-packages (from category_encoders) (1.2.2)
Requirement already satisfied, skipping upgrade: statsmodels>=0.9.0 in c:\anaconda3\lib\site-packages (from category_encoders) (0.12.0)
Requirement already satisfied, skipping upgrade: pandas>=1.0.5 in c:\anaconda3\lib\site-packages (from category_encoders) (1.1.3)
Requirement already satisfied, skipping upgrade: six in c:\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied, skipping upgrade: joblib>=1.1.1 in c:\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2020.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.6.0

In [29]:
import category_encoders as ce

In [30]:
encoder = ce.OrdinalEncoder(cols=["buying","maint","door","persons","lug_boot","safety",])
x_train = encoder.fit_transform(x_train)
x_test = encoder.transform(x_test)

In [31]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=10,random_state=0)
rfc.fit(x_train,y_train)
y_pred = rfc.predict(x_test)

In [32]:
from sklearn.metrics import accuracy_score
print("model accuracy n_estimator=10: {0:0.4f}".format(accuracy_score(y_test,y_pred)))

model accuracy n_estimator=10: 0.9247

In [33]:
from sklearn.ensemble import RandomForestClassifier
rfc_100=RandomForestClassifier(n_estimators=100,random_state=0)
rfc_100.fit(x_train,y_train)
y_pred_100 = rfc_100.predict(x_test)
print("model accuracy n_estimator=100: {0:0.4f}".format(accuracy_score(y_test,y_pred_100)))

model accuracy n_estimator=100: 0.9457